.free {
  background: #ffe678;
}

.vacation {
  background: #A7DA4E;
}

.comment {
  background: orange;
}

.size {
  background: #A7DA4E;
}

.error {
  background: #ff4400;
}

.week {
  background: #ab0000;
}