.schedule-header th {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  text-align: center;
  border: 1px solid #d3d3d3;
}

.schedule td {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  text-align: center;
  border: 1px solid #d3d3d3;
  border-right-style: none;
  border-bottom-style: none; 
}

.schedule div {
  white-space: pre;
}

.bottom td {
  border-bottom: 1px solid #d3d3d3;
}
