<div class="modal modal-mini">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #d83b01; color: white">
        <h4 class="modal-title">Błąd</h4>
      </div>
      <div class="modal-body" style="color: #d83b01">
        <p>{{error.message}}</p>
      </div>
      <div class="modal-footer">
        <div class="modal-footer-buttons">
          <input ng-click="error.close()" type="image" src="images/close-red.png" title="Zamknij">
        </div>
      </div>
    </div>
  </div>
</div>